[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
numba = "*"
numpy = "*"
tqdm = "*"
more-itertools = "*"
tiktoken = "*"
triton = "<3,>=2.0.0"
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
