numpy~=1.24.3
opencv-python~=4.9.0.80
flask~=2.2.2
requests
beautifulsoup4
Flask-CORS
selenium
webdriver_manager
tensorflow_datasets
tensorflow
tensorflow_datasets
mediapipe
Deepface
numba
torch
tqdm
more-itertools
tiktoken
triton>=2.0.0,<3;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
